.navigation {
    position: absolute;
    z-index: 2;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 110px; */
}
.navigation > * {
    margin-right: 80px; /* Ajusta el espacio horizontal entre los elementos */
    margin-left: 80px;
}

/* ********************************************************************************** */
/* ********************* Botón de HOME ****************************** */
/* ********************************************************************************** */
.home_btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;

    border: none; 
    background: none; 
}
.home_btn:hover p {
    color:#FE654F;
}
.home_btn p {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #1E3231;

}
.home_btn_img {
    width: 30px;
}
/* ********************************************************************************** */
/* *********************ENLACES ACTIVITY Y EXIT ****************************** */
/* ********************************************************************************** */
.create_btn {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #1E3231;
}
.create_btn:hover {
    color: #FE654F
}